<?xml version="1.0"?>
<robot name="openamr" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Include the core robot geometry -->
    <xacro:include filename="openamr_core.xacro" />
    
    <!-- Include the ros2_control interfaces -->
    <xacro:include filename="openamr_control.xacro" />
</robot>
